.main-container {
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  @include media-breakpoint-up(sm) {
    height: 100vh;
    text-align: -webkit-center;
  }
  @include media-breakpoint-up(xs) {
    display: block;
    height: 100vh;
    text-align: -webkit-center;
  }
}

.highchart {
  margin-right: 20px;
  margin-top: 20px;
}

.details {
  color: white;
}

label {
  color: white !important;
}

input {
  color: white !important;
}

.textFieldClass .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.textFieldClass .MuiInputBase-root-MuiOutlinedInput-root:hover {
  border-color: white !important;
}

.textFieldClass .MuiInputBase-root-MuiOutlinedInput-root .Mui-focused {
  border-color: white !important;
}